<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quản_lý_đăng_nhập.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=DESKTOP-D0SN20S\SQLEXPRESS;Initial Catalog=QLSV;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>